APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:CprpDxvS0KL803xABAFcCjTCIF7d4SCAK5zvA2rTl5Y=
APP_DEBUG=true
APP_URL=http://localhost

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=mysql8
DB_PORT=3306
DB_DATABASE=tray_users_api
DB_USERNAME=root
DB_PASSWORD=password

SESSION_DRIVER=redis
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=redis

CACHE_STORE=redis
# CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=predis
REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=
MAIL_FROM_NAME="${APP_NAME}"

VITE_APP_NAME="${APP_NAME}"

SODIUM_CPF_SECRET_KEY="b36f21b1999286acecdba1a5fb63e392eb417bd00b5951832feb5edd0b26815b"
SODIUM_CPF_INDEX_KEY="a251cb8d71034b3045ec439e225dbd67d0c53a6e6b351904f2d59fdd633dbb31"
SODIUM_NAME_SECRET_KEY="ae624724af28efe8e7306434885896e05e116ca4bf01edcb82c138d43757fbf8"
SODIUM_NAME_INDEX_KEY="dbce95d16ca854f84512e71f29a6df3a0aa437fa3bed65d54ddb359b167c7d99"
SODIUM_BIRTHDAY_SECRET_KEY="a251cb8d71034b3045ec439e225dbd67d0c53a6e6b351904f2d59fdd633dbb31"
SODIUM_GOOGLE_TOKEN_SECRET_KEY="a251cb8d71034b3045ec439e225dbd67d0c53a6e6b351904f2d59fdd633dbb31"